
@{
    ViewBag.Title = "Instructions";
    Layout = "~/Views/Shared/_AdminShared.cshtml";
}

<h2>Instructions</h2>
<p>This page will guide you on how to add new Cars or a new Blog Post to Vahan Purchase</p>

<h2>Adding a new Car</h2>
<p>

    1. To add a new car please first go to the Makes Tab on your left.<br />
    2. Add the Make of the car by clicking the button Add Make. <br />
        (You will not be able to select the Make of your car till you have added it here.)<br />
    3. Once you have finished adding the make of your car, you can proceed to the Car Section on your left.<br />
    4. Now click on Add a Car at the bottom of the table to add a new Car. You will be redirected to another page where you will have to fill in the information pertaining to your car.<br />
    5. Fill in the details of your car. If you have done step 2 correctly, then you should be able to see the Make of your car in the dropdown list.<br />
    6. You can browse and select multiple images for your car. You can choose upto a maximum of 5 images per car.<br />
    7. Note that it is healthier for the website if you have compressed your images. It will decrease the load time of your pages.<br />

</p>

<h2>Adding a new Blog Post</h2>
<p>
    Compared to adding a Car, this is relatively simple. <br />
    1. Go to Blog Post tab on your left. <br />
    2. Click on Add Blog Post.
    3. Fill in the Title, Description and the Body of your blog post.
    4. Select an Image for your blog post and click on Save. 
    5. Your blog post should appear in the recent and all posts section.
</p>

